name: CI/CD - build, push, deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  DOCKERHUB_REPO_FRONT: ${{ secrets.DOCKERHUB_USERNAME }}/ddtask-frontend
  DOCKERHUB_REPO_BACK:  ${{ secrets.DOCKERHUB_USERNAME }}/ddtask-backend
  REMOTE_DIR: ${{ secrets.REMOTE_COMPOSE_DIR }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ env.DOCKERHUB_REPO_BACK }}:latest

      - name: Build & push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          tags: ${{ env.DOCKERHUB_REPO_FRONT }}:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Wait to ensure images are available
        run: sleep 6

      - name: Deploy to VM
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd $REMOTE_DIR
            docker compose pull
            docker compose down
            docker compose up -d --force-recreate
            docker ps --format "table {{.Names}}\t{{.Image}}\t{{.Status}}\t{{.Ports}}"
